<div class="row">
    <h1>EXPERIENCIA LOBORAL</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h1>ARGENTINA PROGRAMA</h1> - <h3>(enero-marzo)</h3> </li>
            <p>Ejecutar ejercicios en la plataforma del programa</p>
        </ul>
        <ul>
            <li> <h1>ONE Oracle</h1> - <h3>(julio-febrero)</h3> </li>
            <p>Desarrollo de paginas web</p>
        </ul>
        <ul>
            <li> <h1>ARGENTINA PROGRAMA</h1> - <h3>(julio-marzo)</h3> </li>
            <p>Desarrollo de paginas web</p>
        </ul>
    </div>

</div>
