<div class="row">
    <h1>HARD & SOFT SKILLS</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="85"
          [radius]="100"
          [imageSrc]="'../assets/Html5Logo1.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="85"
          [radius]="100"
          [imageSrc]="'../assets/CSS3Logo.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="60"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="85"
          [radius]="100"
          [imageSrc]="'../assets/JSLogo18.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="85"
          [radius]="100"
          [imageSrc]="'../assets/GitHubLogo10.png'"
          [showImage]="true"
          [imageHeight]="90"
          [imageWidth]="110"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="85"
          [radius]="100"
          [imageSrc]="'../assets/CSS3Logo.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="60"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="85"
          [radius]="100"
          [imageSrc]="'../assets/CSS3Logo.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="60"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="600"
      ></circle-progress>
    </div>
    
  </div>
